*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f8f2;
    color:#333;
}

header{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:40px 20px;
}

nav{
    background:#1b5e20;
    display:flex;
    justify-content:center;
    gap:20px;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#c8e6c9;
}

main{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

section{
    margin-bottom:40px;
}

h2{
    color:#2e7d32;
    margin-bottom:15px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:220px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

ul{
    margin-left:20px;
    margin-bottom:20px;
}

button{
    background:#388e3c;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#2e7d32;
}

#mensagem{
    margin-top:15px;
    font-weight:bold;
    color:#1b5e20;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:15px;
}